attrs==25.1.0
awscli==1.38.10
boto3==1.26.0
botocore==1.29.165
colorama==0.4.6
docutils==0.16
exceptiongroup==1.2.2
findspark==2.0.1
iniconfig==2.0.0
jmespath==1.0.1
packaging==24.2
pluggy==1.5.0
py4j==0.10.9.7
pyasn1==0.6.1
pyspark==3.4.4
pytest==7.2.0
pytest-spark==0.3.0
python-dateutil==2.9.0.post0
PyYAML==6.0.2
rsa==4.7.2
s3transfer==0.6.2
six==1.17.0
tomli==2.2.1
urllib3==1.26.20